body{
    background-color: #f0e7d1;
    font-family: Roboto;
    margin-top: 5em;
}

.jumbotron{
    margin-top: 50px;
    background-color: #f0e7d1;
    text-align: center;
    text-transform: uppercase;
    border: 4px solid #79191a;
    font-family: 'Modern Antiqua', cursive;
}

.navbar{
    background-color: #79191a;
    border-bottom: 2xp solid black;
}

#gallery{
  margin: 0 auto;
}

.modal-body{
  border:#79191a;
}


@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
   margin: 0 auto;
   background: none;
  }
}

#icon{
  filter: invert(1);
}

#gallery img:hover, #postGallery img:hover{
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em darkgrey;
}

#blurb{
  margin-top: 2em;
}

.nav-link img{
  filter: invert(1);
}

hr{
  height: 8px;
    
    background-image: linear-gradient(90deg, #79191a, transparent);
    
    border: 0;
    height: 1px;
} 
.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.close{
  color: white;
}

.page-footer{
  background-color: #79191a;
  margin: 50px 0 0;
  padding-bottom: 15px;
  
}

.page-footer i{
  color: white;
}
